<form action="{{ action }}" method="post" id="banktransfer-form-payment">
    <div class="form-group pull-right">
        <div class="right col-sm-3">
            <input type="submit" value="{{ button_confirm }}" id="banktransfer-button-payment" class="button btn btn-primary"/>
        </div>
    </div>
</form>